<!-- 
     Partial views(templates) can be used to put into other templates
     when many templates files needed 


     USE CASE
     -------------
      -> Suppose we have 10 HTML pages that require nav-bar we can use
         partial template to create it, and it can be included in those
         file

    
-->

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>