<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Website</title>
</head>
<body>
     <!-- Using the dynamic data inside HTML template file  -->
    <h1><%= data.name %>'s Website</h1>
    <p>Welcome to the <%= data.name %>'s website. </p>
    <p>I am <%= data.age %>.</p>
    <h2>Hobbies</h2>
    <ul>

        <!-- Using JavaScript Inside the HTML template file -->
        <% data.hobbies.forEach(hobby => {  %>
            <li> <%= hobby %> </li>
        <% }) %>

    </ul>
</body>
</html>